@import '../base/variables';

.sh-navMenu {
    background: $color-brand-dark;
    position: relative;
    width: 100%;

    &-wrapper {
        @media (min-width: 768px) {
            display: flex;
        }
    }

    &--home {
        background: transparent;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    &-header {
        @media (min-width: 768px) {
            flex: 1;
        }
    }

    &-toogle {
        .icon-bar {
            background: $color-foreground-brighter;
        }
    }

    &-nav {
        li {
            a {
                color: $color-brand-brighter;
                line-height: 3rem;

                &.active {
                    border-bottom: 3px solid $color-brand-brighter;
                }

                &:hover,
                &:focus {
                    background: transparent;
                }
            }
        }
    }
}
