@import '../base/variables';

.sh-filters {
    $border-weight: 1px;
    $border-color: rgba($color-background-bright, .5);

    align-items: center;
    border-bottom: $border-weight solid $border-color;
    border-top: $border-weight solid $border-color;
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    padding: .6rem 2rem;
}