@import '../base/variables';
@import '../mixins/site-margins';

.sh-search {
    @include site-margins;

    $height: 12rem;

    display: flex;
    height: $height  * .85;
    justify-content: center;

    &-group {
        margin: 0 2rem;
    }

    &-wrapper {
        background-color: $color-background-brighter;
        border-radius: 4px;
        box-shadow: 0 0 21px 2px rgba($color-background-darker, .08);
        height: 10rem;
        transform: translateY(-$height/2);
        width: 100%;
    }

    &-tabs {
        $margin: 1rem;

        border-bottom: 1px solid $color-foreground-bright;
        display: flex;
        justify-content: center;
        list-style: none;
        margin-left: $margin;
        margin-right: $margin;
    }

    &-tab {
        $vpadding: 1.5rem;
        $hpadding: 2rem;
        $margin: 1rem;
        $shadow: inset 0 -5px 0;

        box-shadow: $shadow transparent;
        cursor: pointer;
        font-size: $font-size-l;
        margin-left: $margin;
        margin-right: $margin;
        padding-bottom: $vpadding;
        padding-left: $hpadding;
        padding-right: $hpadding;
        padding-top: $vpadding;

        &:hover {
            color: $color-secondary;
            transition: color $animation-speed-default;
        }

        &.is-active {
            box-shadow: $shadow $color-secondary;
            color: $color-secondary;
        }
    }

    &-inputs {
        display: flex;
        justify-content: center;
        list-style: none;
        margin-top: 2rem;
    }

    &-input {
        border: 0;
        line-height: 2rem;

        &:focus {
            color: $color-brand;
            outline: 0;
        }
    }

    &-value {
        display: none;

        &.is-filled {
            display: block;
            line-height: 2.3rem;
            margin-left: -2.3rem;
        }
    }

    &-option {
        border-radius: 20px;
        cursor: pointer;
        padding: .5rem 1rem;
        width: 20rem;

        &:hover {
            background-color: $color-brand-brighter;
        }
    }

    &-options {
        margin-top: 2.5rem;
    }

    &-when {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
