@import '../base/variables';

.sh-nav_menu {
    $distance-left: 2rem;
    $distance-top: 2rem;

    background-color: $color-brand-dark;
    display: flex;
    height: 5rem + $distance-top * 2;
    justify-content: space-between;
    position: relative;
    width: 100%;

    &-logo {
        height: auto;
        margin-left: $distance-left;
        margin-top: .5rem;
        width: 12rem;

        @media screen and (min-width: $media-screen-m) {
            margin-left: 4rem;
        }

        &.is-home {
            margin-left: $distance-left;
            margin-top: 1.5rem;
            width: 11rem;

            @media screen and (min-width: $media-screen-m) {
                margin-left: 4rem;
                margin-top: $distance-top;
                width: 18rem;
            }

            @media screen and (max-width: $media-screen-m) and (min-width: $media-screen-s) {
                margin-left: $distance-left;
                margin-top: $distance-top;
                width: 16rem;
            }
        }
    }

    &.is-home {
        background-color: transparent;
        position: absolute;
        top: 0;
        z-index: 1000;
    }

    &-links {
        align-items: center;
        color: $color-foreground-brighter;
        display: flex;
        list-style: none;
        margin-right: 10vw;
    }

    &-link {
        cursor: pointer;

        &:hover {
            color: $color-brand-bright;
            transition: color $animation-speed-default;
        }
    }
}
