@import '../base/variables';

.sh-filter {
    max-width: 11rem;
    position: relative;

    &-dropdown {
        background: rgba($color-background-brighter, .8);
        border: 1px solid rgba($color-background-bright, .5);
        display: none;
        opacity: 0;
        padding: 1rem;
        position: absolute;
        top: 4.3rem;
        width: 30rem;

        &.active {
            animation: fadeInFrom $animation-speed-default ease-out;
            display: block;
            opacity: 1;

            @keyframes fadeInFrom {
                0% {
                    display: none;
                    opacity: 0;
                }

                1% {
                    display: block;
                    opacity: 0;
                }

                100% {
                    display: block;
                    opacity: 1;
                }
            }
        }
    }

    &-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2rem;
        padding: 0;
    }

    &-arrow &-icon {
        margin-bottom: .2rem;
        padding: 0 1rem;
        transform: rotate(-180deg);
    }

    &-header {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        padding: 1rem 0;
        width: 100%;

        &:hover,
        &.active {
            color: $color-brand;
        }

        &.active {
            .sh-filter-icon {
                margin-top: .2rem;
                transform: rotate(0);
            }
        }
    }

    &-button {
        cursor: pointer;
        line-height: 1.5rem;
        padding: 0 1rem;

        &--cancel {
            color: $color-foreground-bright;
        }

        &--apply {
            color: $color-brand;
        }
    }

    &-title {
        flex: 1 0 auto;
        font-weight: $font-weight-light;
    }
}