@import '../base/variables';

.sh-filter_price {

    &-range {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: .5rem;
    }

    &-value {
        color: $color-brand;
        font-size: $font-size-s;
        padding: .5rem;
        text-align: center;
        width: 4rem;
    }

    .rc-slider {
        margin: 0 auto;
        width: 75%;
    }

    .rc-slider-handle {
        border: solid 2px $color-brand;
    }

    .rc-slider-track {
        background-color: $color-brand;
    }

    .rc-slider-rail {
        background-color: $color-brand-bright;
    }
}