@import '../base/variables';

.sh-nav_menu {
    background-color: $color-brand-dark;
    height: 5rem;
    position: relative;
    width: 100%;

    &.is-home {
        background-color: transparent;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
}
